header.main-header {
	@include sticky;
	background: white;
	z-index: 5;
	height: 80px;
	line-height: 80px;

	.header-nav{
		ul{
			display: block;
			@include display(flex);
			margin: 0;
			padding: 0 5px;

			li{
				position: relative;
				display: inline-block;
				user-select: none;
				padding: 0 5px;

				a{
					white-space: nowrap;

					&:hover{
						color: $hover_color;
					}

					.home &{
						color: $link_color;

						&:hover{
							color: $hover_color;
						}
					}
				}

				&.current-menu-item,
				&.current_page_parent,
				&.current_page_item {
					a{
						color: $link_color;

						&:hover{
							color: $hover_color;
						}
					}
				}

			}
		}

	}
}