/* ==========================================================================
	Base
/* ========================================================================== */
html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: $link_color;
}

html,
body,
button,
input,
select,
textarea {
	font-family: $body_font;
	color: $color;
	font-size: $size_base;
	font-weight: $weight_base;
	line-height: $lineheight_base;

	@media (max-width: 420px) {
		font-size: $size_base * 0.8;
	}
}
body {
	margin: 0;
	background: $background;
}

*, body, input, textarea, select, button  {
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	box-sizing: border-box;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga', 'kern';
}

/* ==========================================================================
	Links
/* ========================================================================== */
a {
	color: $color;
	text-decoration: none;
	transition: color $transition;
}
a:focus {
	outline: 0;
}
a:active,
a:hover {
	outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */
/* Headers */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: $weight_base;
	font-size: 1em;
}

/* Content Block Elements */
dl,
menu,
ol,
ul,
p,
pre {
	margin: 0 0 $size_base;
}

/* Paragraphs */
p {

}

/* Lists */
menu,
ol,
ul {
	padding: 0 0 0 $size_base * 2;
}

/* Selection Colors */
::-moz-selection {
	background: black;
	color: white;
	text-shadow: none;
}
::selection {
	background: black;
	color: white;
	text-shadow: none;
}

/* Responsive Media Styles */
img,
video,
object,
iframe {
	max-width: 100%;
	height: auto;
}

/* Clear Fix */
.cf {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/* Floats */
.fl {
	float: left;
}
.fr {
	float: right;
}

.hidden{
	opacity:0;
}
.visible{
	opacity:1;
}

/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */

p{
	margin:0;
	padding:0;
}

body{
	height:100%;
	padding: 0;
	animation-duration: 600ms;
	animation-fill-mode: both;
	animation-name: fade-in;
}

main{
	@include clearfix();
	position: relative;
	z-index: 2;
}

header, footer{
	position: relative;
	z-index: 2;
	font-size: 0.6em;
	color: $link_color;

	.stealth &{
		opacity:0;
	}
}

a{
	color: $link_color;
	text-decoration: none;

	&:hover{
		color:$hover_color;
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Overrides */
body{
	.m-t-none{margin-top:0 !important}
	.m-t-xxs{margin-top: 1px!important}
	.m-t-xs{margin-top: 5px!important}
	.m-t-sm{margin-top: 10px!important}
	.m-t{margin-top: 15px!important}
	.m-t-md{margin-top: 20px!important}
	.m-t-lg{margin-top: 30px!important}
	.m-t-xl{margin-top: 40px!important}
	.m-t-xxl{margin-top: 50px!important}

	.m-b-none{margin-bottom:0 !important}
	.m-b-xxs{margin-bottom: 1px!important}
	.m-b-xs{margin-bottom: 5px!important}
	.m-b-sm{margin-bottom: 10px!important}
	.m-b{margin-bottom: 15px!important}
	.m-b-md{margin-bottom: 20px!important}
	.m-b-lg{margin-bottom: 30px!important}
	.m-b-xl{margin-bottom: 40px!important}
	.m-b-xxl{margin-bottom: 50px!important}

	.m-r-none{margin-right:0 !important}
	.m-r-xxs{margin-right: 1px!important}
	.m-r-xs{margin-right: 5px!important}
	.m-r-sm{margin-right: 10px!important}
	.m-r{margin-right: 15px!important}
	.m-r-md{margin-right: 20px!important}
	.m-r-lg{margin-right: 30px!important}
	.m-r-xl{margin-right: 40px!important}
	.m-r-xxl{margin-right: 50px!important}

	.m-l-none{margin-left:0 !important}
	.m-l-xxs{margin-left: 1px!important}
	.m-l-xs{margin-left: 5px!important}
	.m-l-sm{margin-left: 10px!important}
	.m-l{margin-left: 15px!important}
	.m-l-md{margin-left: 20px!important}
	.m-l-lg{margin-left: 30px!important}
	.m-l-xl{margin-left: 40px!important}
	.m-l-xxl{margin-left: 50px!important}
}