article{
	margin: 90px auto;
	max-width: 1300px;

	@media (max-width: 420px) {
		margin: 40px auto;
	}

	h1{
		margin-bottom: 60px;

		@media (max-width: 420px) {
			margin-bottom: 40px;
		}
	}

	.content{
		@include clearfix();
		margin-left: 90px;
		font-size: 16px;

		img.fullscreen{
			max-width: 100vw;
			width: 100vw;
			position: relative;
			left: calc(0px - (100vw - 100% + 90px) * 0.5);
		}

		@media (max-width: 420px) {
			margin:0;
			img.fullscreen{
				left: calc(0px - (100vw - 100%) * 0.5);
			}
		}

		p, .video-container, img{
			display: block;
			margin-bottom: 1.5em;

			@media (max-width: 420px) {
				margin-bottom: 1em;
			}
		}
	}

}