
.text-content{

	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.56em;
	}
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 1.3em;
	}
	h5, h6 {
		font-size: 1.1em;
	}

	h1,h2,h3,h4{
		margin: 0 0 1em;
		font-weight: bold;

		& + h1, & + h2, & + h3, & + h4{
			margin-top:1em;
		}

		& + p, & + img, & + .video-container{
			margin-top:1em;
		}
	}

	p, img, .video-container{
		& + p, & + h4{
			margin-top: 1em;
		}

		& + h1, & + h2, & + h3{
			margin-top: 2em;

			& + p{
				margin-top: 1em;
			}
		}
	}

	ul, ol{
		margin: 1em 0;
	}

	img{
		display: inline-block;
		max-width: 100%;
		height: auto;

		&.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		&.alignleft {
			float: left;
			margin: 0.5em 1.5em 0.5em 0;
		}

		&.alignright {
			float: right;
			margin: 0.5em 0 0.5em 1.5em;
		}
	}
}