/* ==========================================================================
	Variables
/* ========================================================================== */

/* Colors */
$color: black;
$color_opposite: white;
$background: white;
$link_color: #0069ff;
$hover_color: #666;
$green: #15CD72;
$gray: #444;
$light_gray: #ececec;
$blue: #0069ff;
$light_blue: #579adb;
$red: #EA4634;

$transition_time: 0.2s;
$transition_ease: ease-in-out;

$body_font: Helvetica, Arial, Verdana, sans-serif;

/* Font Sizes */
$size_base: 1em;
$weight_base: 400;
$lineheight_base: 1.4;

/* Font Sizes */
$size_base: 1em;
$lineheight_base: 1.5;
